.bg-color {
    background-color: lightgoldenrodyellow;
}

.back-color {
    background-color: aquamarine;
}

.color {
    background-color: bisque;
}

.bcg-color {
    background-color: blanchedalmond;
}

.bcg-col {
    background-color: aqua;
}

.image {
    background-color: aquamarine;
}

.para {
    background-color: aqua;
}

.achieve {
    background-color: aquamarine;
}